.account-wall{
    border-radius: 5px;
}
.d-none{
    display: none !important;
}
input[type=checkbox]{
    cursor: pointer !important;
}
#tablaAcceso .padre td:nth-child(1){
    cursor: pointer !important;
}
#tablaAcceso .hijo td:nth-child(1){
    padding-left: 40px;
}
#tablaAcceso .padre td:nth-child(1){
    padding-left: 10px;
}